@charset "utf-8";

#article {
      margin-left: 600px;
      margin-top: 10px;
}

#leftnav {

 }

#text {
  margin-left: 250px;
  margin-right: 50px;

}

#sidebar {
      position: fixed;
      top: 30px;
    }
